.meals-item{
    width: 300px;
    border-radius: 5px;
    background-color: white;
}
.meals-item h5{
    margin: 15px;
    text-align: center;
}
.meals-item img{
    width: 100%;
    border: none;
    border-radius: 5px;
}
#meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}